In [54]:
#O pandas (pd) está lendo o arquivo .csv (comma separated values/valores separados por vírgulas) presente em meu Google Drive.

import pandas as pd
notas = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Docs Introdução DS/ratings.csv")

# Atribuido o valor para "notas", busquei demonstrar somente as cinco primeiras avaliações, o cabeçalho, que é obtido no emprego da função ".head"().
# "Notas" é objeto do tipo DataFrame. A documentação do DataFrame (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) indica a -
# variedade de funções possíveis de serem aplicadas.

notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [55]:
# Obtidas as cinco primeiras avaliações, desejo saber qual é o formato deste DataFrame. Devo, portanto, utilizar a função ".shape".

notas.shape

(100836, 4)

In [56]:
# Após o uso da função ".shape", sou capaz de afirmar que este dataframe contêm 100.836 (cem mil oitocentas e trinta e seis) avaliações - 
# distribuídas em 4 (quatro) colunas.
# O contador alocado à esquerda não está incluso na contagem, pois se trata de mero índice.

In [57]:
# Além disso, desejo trabalhar as colunas empregando a língua portuguesa e não a inglesa (que é default do Phyton). 
# Deste modo, as colunas deverão ser renomeadas.
# O uso dos colchetes ([]) é mandatório para inserir as alterações em uma lista.

notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [58]:
# Percebe-se que, após esta nova alteração, o nome das colunas agora se encontram em língua portuguesa.

# A coluna denominada "nota" apresenta cinco valores, dentre eles duas notas cujo valor é 5.0 e três notas cujo valor é 4.0. 
# Contudo este não são os valores totais do DataFrame. Senão vejamos:

notas["nota"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [59]:
# A busca por saber a totalidade dos valores presentes na coluna "nota" retornou uma série de itens denominados Series. 
# (https://pandas.pydata.org/docs/reference/api/pandas.Series.html).

# Após o uso desta função, desejo saber quais foram os valores que foram inseridos nesta coluna, mas de maneira única (quais são, mas não todos).
# Analisando a documentação da Series, há a função "unique()", que devolve os valores únicos da Series desejada.

notas["nota"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [60]:
# Deste modo, a função unique() retornou informando que as notas de filmes possíveis na Series Nota variam entre 0,5 e 5), 
# indicando também a inexistência de atribuição de nota 0.

# Como penúltima atividade, preciso saber quantas vezes fora atribuida a nota 5 na Series.
# Para fazê-lo, devo utilizar a função "value_counts([])" aplicável à Series.

notas["nota"].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [61]:
# A função "value_counts([])", além de organizar os dados do mais frequente para o menos frequente, retornou a informação que desejava: 
# Fora atribuída a nota 5 na Series 13.211 (treze mil, duzentos e onze) vezes.

# Por fim, como última atividade, preciso saber qual é a média de todas as notas.
# Para fazê-lo, devo empregar a função ".mean()", que pode ser traduzida como média.

notas["nota"].mean()

3.501556983616962

In [62]:
#Concluo o exercício ciente de que a média das notas é de 3.5.